.insertimage {
    font-size: 7rem;
    text-align: center;
}

.insertimage img {width: 560px; height: 400px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}

.containerin {
  padding: 100px 150px 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar, .grid-container, .grid-containerm {width: 30%;}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개의 열을 동일하게 배치 */
  gap: 10px; /* 버튼 사이의 간격 */
  padding: 10px; /* 컨테이너의 패딩 */
}

.grid-container button {
  padding: 10px;
  background-color: transparent;
  color: #333; /* 글자 색상 */
  border: 2px solid rgb(249, 166, 010); /* 테두리 색상 및 두께 */
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s; /* 호버 시 부드러운 전환 효과 */
}

.grid-container button:hover { 
  background-color: rgb(249, 166, 010); /* 호버 시 배경 색상 */
  color: #000; /* 호버 시 글자 색상 */}

.grid-containerm {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
}
.box1 {padding-left: 10px;}
.box2 {padding-right: 10px;}
@media (max-width: 1300px) {
  .containerin {padding: 100px 50px 0 50px;}
}

.box1 h1 {padding: 10px; font-size: 40px;}

.grid-containerm button {
  padding: 10px;
  background-color: transparent;
  color: #333; /* 글자 색상 */
  border: 2px solid rgb(249, 166, 010); /* 테두리 색상 및 두께 */
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s; /* 호버 시 부드러운 전환 효과 */
}

.grid-containerm button:hover {    
  background-color: rgb(249, 166, 010); /* 호버 시 배경 색상 */
  color: #000; /* 호버 시 글자 색상 */}
.grid-containerm button:disabled {background-color: #c2c2c2;}
input {border-width: 0;}
input:focus {outline: none;}

.retable {display: flex;}
.retable > table {width: 100%; font-size: 18px;}
.retable > table > tr > td {text-align: left; width: 100%;}
.retable > table > tr > td > input {text-align: right;}

.btn9 {
  text-align: right;
  padding: 10px;
  margin: 5px 0;
}

.btn9 button{
  padding: 10px;
            background-color: transparent;
            color: #333; /* 글자 색상 */
            border: 2px solid rgb(249, 166, 010); /* 테두리 색상 및 두께 */
            border-radius: 15px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-right: 10px;
            transition: background-color 0.3s, color 0.3s; /* 호버 시 부드러운 전환 효과 */
}
.btn9 button:hover { 
  background-color: rgb(249, 166, 010); /* 호버 시 배경 색상 */
  color: #000; /* 호버 시 글자 색상 */}

.modal-close-btn {
  cursor: pointer;
  margin-left: auto;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.modal-content {
  padding: 20px;
  background-color: #ffffff !important;
  width: 390px !important;
  height: 390px;
  font-size: 20px;
}

.modal-content span {text-align: left; font-size: 15px;}

.modal-content > table > tr > td {text-align: right; font-size: 15px;}
.modal-content > table > tr > th {text-align: left; font-size: 16px;}
