BreadTour/** linguist-documentation=false
BreadTour/** linguist-vendored=false

Reservation_React/** linguist-documentation=false
Reservation_React/** linguist-vendored=false

* linguist-vendored
*.java linguist-vendored=false
*.jsx linguist-vendored=false
*.css linguist-vendored=false
*.html linguist-vendored=false
*.js linguist-vendored=false

