*.c linguist-vendored=true
*.cpp linguist-vendored=true
*.h linguist-vendored=true
*.hpp linguist-vendored=true
*.pyx linguist-vendored=true
*.pxd linguist-vendored=true
*.pxi linguist-vendored=true


BreadTour/** linguist-documentation=false
BreadTour/** linguist-vendored=false

Reservation_React/** linguist-documentation=false
Reservation_React/** linguist-vendored=false

kosmo-final-project/i5/python/app/website/main/routes.py linguist-vendored=false

# 다른 Python 파일 제외
*.py linguist-vendored=true

# 다른 언어 파일들 언어 분석에 포함
*.java linguist-vendored=false
*.jsx linguist-vendored=false
*.html linguist-vendored=false
*.js linguist-vendored=false
*.jsx linguist-language=JavaScript
