BreadTour/** linguist-documentation=false
BreadTour/** linguist-vendored=false

Reservation_React/** linguist-documentation=false
Reservation_React/** linguist-vendored=false

* linguist-vendored
*.js linguist-vendored=false
