<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BreadTour.example.demo.mapper.DeliveryMapper">

<insert id="insertDeliveryInfo" parameterType="BreadTour.example.demo.model.Delivery">
    INSERT INTO delivery (buyer_name, buyer_address, buyer_tel)
    VALUES (#{buyerName}, #{buyerAddress}, #{buyerTel})
</insert>

</mapper>
