<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>빵 가게</title>
    <link rel="stylesheet" th:href="@{/css/shopping_style.css}">
    <link rel="stylesheet" th:href="@{/css/shopping_template.css}">
    <link rel="stylesheet" th:href="@{/css/shopping_plugin.css}">
    <style>
        #cart {
            display: none;
        }
    </style>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/shoppingscript.js"></script>

    <header class="butti-N1" data-bid="PQLYMqEDN1">
        <div class="header-container container-lg">
            <div class="header-left">
                <h1 class="header-title">
                    <a href="/main">
                        <img src="/img/img_logo.png" alt="로고">
                    </a>
                </h1>
            </div>
            <div class="header-center">
                <ul class="header-member">
                    <li><a href="/login">로그인</a></li>
                    <li>
                        <form id="logoutForm" th:action="@{/logout}" method="post" style="display: inline;">
                            <a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">로그아웃</a>
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        </form>
                    </li>
                    <li><a href="/signup">회원가입</a></li>
          
                    <li><a href="/edit">회원정보수정</a></li>
                  </ul>
                <ul class="header-gnblist">
                    <!-- Navigation Items -->
                    <li class="header-gnbitem on">
                        <li class="header-gnbitem on"><a class="header-gnblink" href="/reservation">
                            <span>예약하기</span></a></li>
              
                        <li class="header-gnbitem on"><a class="header-gnblink" href="/shopping">
                            <span>구입하기</span></a> </li>
              
                        <li class="header-gnbitem on"><a class="header-gnblink" href="/map">
                            <span>빵지도</span> </a> </li>
              
                        <li class="header-gnbitem on"><a class="header-gnblink" href="/edit">
                            <span>회원정보수정</span></a></li>
                    <!-- Add other items similarly -->
                </ul>
            </div>
            <div class="header-right">
                <div class="header-utils">
                    <!-- 로그인되지 않은 경우 로그인 버튼 -->
                    <a href="/login" class="btn-user header-utils-btn" th:if="${isLoggedIn == null or !isLoggedIn}">
                        <img th:src="@{/images/person_on.png}" alt="유저 아이콘">
                    </a>
                    
                    <!-- 로그인된 경우 로그아웃 버튼 -->
                    <a href="#" class="btn-user header-utils-btn" th:if="${isLoggedIn}">
                        <img th:src="@{/images/person_off.png}" alt="유저 아이콘" onclick="document.getElementById('logoutForm').submit(); return false;">
                    </a>
                    <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    </form>
                    
                    <!-- 로그인된 경우 회원탈퇴 버튼 -->
                    <a href="/delete-account" class="btn-user header-utils-btn" th:if="${isLoggedIn}">
                        <img th:src="@{/images/person_delete.png}" alt="회원탈퇴">
                    </a>
            
                    <!-- 모바일 메뉴 버튼 -->
                    <button class="btn-momenu header-utils-btn">
                        <img th:src="@{/icons/ico_menu_white.svg}" alt="모바일 메뉴">
                    </button>
            
                    <!-- 닫기 버튼 -->
                    <button class="btn-moclose header-utils-btn">
                        <img th:src="@{/icons/ico_close_white.svg}" alt="닫기">
                    </button>
                </div>
            </div>
            
            
        </div>
    </header>

<div class="scontainer">
    <header class="sheader">
        <h1>Choose Your Bread</h1>
        <div class="right-buttons"> <!-- 추가된 컨테이너 -->
            <div class="shopping" id="open-cart">
                <img src="/img/shopping.svg">
                <span class="quantity">0</span>
            </div>
            <div class="wishlist" id="open-wishlist">
                <img src="/img/wishlist.png">
                <span class="wishlist-quantity">0</span>
            </div>
        </div>
    </header>
    
        <div class="list"></div>
    </div>
    
    <div class="card" id="cart-section">
        <h1>Cart</h1>
        <ul class="listCard"></ul>
        <div class="checkOut">
            <div class="total">0</div>
            <div class="clearCart">전체 취소</div>
            <div class="closeShopping" id="close-cart">결제하기</div>
        </div>
    </div>
    
    <div class="product-category">
        <button data-category="1" class="active">구운과자</button>
        <button data-category="2">바게트</button>
        <button data-category="3">식빵</button>
        <button data-category="4">케이크</button>
    </div>

    <div class="products"></div>
    <div class="wishlist-section" id="wishlist-section">
        <h1>Wishlist</h1>
        <ul class="wishlistblock"></ul>
    </div>

    <script>
       function displayProducts(category) {
    const productsContainer = document.querySelector('.products');
    productsContainer.innerHTML = '';
    products[category].forEach((product, index) => {
        const productDiv = document.createElement('div');
        productDiv.classList.add('products0');
        productDiv.innerHTML = `
            <div class="img-container">
                <img src="${product.photo}" alt="${product.name}">
                <div class="overlay" data-category="${category}" data-name="${product.name}"></div>
            </div>
            <div class="product-details">
                <p>${product.name}</p>
                <p class="price">${product.price}원</p>
            </div>
            <div class="product-buttons">
                <button class="add-button" data-key="${index}" data-category="${category}" data-name="${product.name}" data-price="${product.price}">+</button>
                <button class="like-button" data-key="${index}" data-category="${category}" data-name="${product.name}">
                    &#9825;
                </button>
            </div>
        `;
        productsContainer.appendChild(productDiv);
    });
}

    </script>

    
    <section id="cart">
        <h2>장바구니</h2>
        <div id="cart-items"></div>
        <label for="total-quantity">총 수량:</label>
        <input type="text" id="total-quantity" readonly>
        <label for="total-amount">총 금액:</label>
        <input type="text" id="total-amount" readonly>
        <button id="clear-cart">전체 취소</button>
        <button id="checkout">결제하기</button>
    </section>

    <div id="checkout-modal" class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <h2>주문 확인</h2>
            <div id="checkout-items"></div>
            <button id="confirm-checkout">주문 확인</button>
            <button id="cancel-checkout">취소하기</button>
        </div>
    </div>

    <div id="product-detail-modal" class="modal">
        <div class="modal-content">
            <span class="close-detail">&times;</span>
            <img src="/img/icon2_remove.png" alt="로고" id="logo-image">
            <div id="product-detail"></div>
        </div>
    </div>
    
    <div id="address-modal" class="modal">
        <div class="modal-content">
            <span class="close-address">&times;</span>
            <h2>배송지 입력</h2>
            <label for="buyer-name">이름:</label>
            <input type="text" id="buyer-name"><br>
            <label for="sample4_postcode">우편번호:</label>
            <input type="text" id="sample4_postcode" placeholder="우편번호">
            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
            <label for="sample4_roadAddress">도로명주소:</label>
            <input type="text" id="sample4_roadAddress" placeholder="도로명주소"><br>
            <label for="sample4_jibunAddress">지번주소:</label>
            <input type="text" id="sample4_jibunAddress" placeholder="지번주소"><br>
            <span id="guide" style="color:#999;display:none"></span>
            <label for="sample4_detailAddress">상세주소:</label>
            <input type="text" id="sample4_detailAddress" placeholder="상세주소"><br>
            <label for="sample4_extraAddress">참고항목:</label>
            <input type="text" id="sample4_extraAddress" placeholder="참고항목"><br>
            <label for="buyer-tel">전화번호:</label>
            <div class="input-container">
                <input type="text" id="buyer-tel" placeholder="전화번호">
                <span id="tel-tooltip" class="tooltip">- 빼고 입력해주세요</span>
            </div>
            <button id="submit-address">결제</button>
            <button id="cancel-address">취소</button>
        </div>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraRoadAddr += data.bname;
                    }

                    if(data.buildingName !== '' && data.apartment === 'Y'){
                       extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }

                    if(extraRoadAddr !== ''){
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    document.getElementById('sample4_postcode').value = data.zonecode;
                    document.getElementById("sample4_roadAddress").value = roadAddr;
                    document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                    
                    if(roadAddr !== ''){
                        document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("sample4_extraAddress").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    if(data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else if(data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }
    </script>
</body>
</html>