.wrap-vertical ul{
    padding:10px;
    font-size:3rem;
    width:1000px;
    margin:0 auto;
    background-color:rgba(255, 166, 0, 0.726);
    white-space:nowrap;
    /* 필요에 따라 가로 스크롤바 생성 */
    overflow-x:scroll;
}

/*white-space: nowrap;  선언해줘야 내부 박스가 아래로 떨어지지 않고 가로로 나열됨*/
img {max-width: 100%; height: auto;}
.wrap-vertical > ul > li{display:inline-block; text-align: center; list-style: none;}
.wrap-vertical > ul > li > span{font-size: 25px;}
.detail > ul > li {list-style: none;}
.detail > ul > li > div {font-size: 7rem; text-align: center;}
.detail > ul > li > div > img { display: inline-block;}

.btn {text-align: right;}

