<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <div id="products"></div>
    <button onclick="checkout()">Checkout</button>

    <script>
        function checkout(){
            // 결제하기 버튼 클릭 시 처리 로직 추가
            alert("Checkout button clicked");
        }

        // 상품 목록을 서버에서 가져와서 화면에 표시하는 로직 추가
        fetch('/api/products')
            .then(reponse => response.json())
            .then(data => {
                const productsDiv = document.getElementById('producsts');
                data.forEach(product =>{
                    const productElement = document.createElement('div');
                    productElement.innerText = `${product.prname} - $${product.prprice}`;
                    productsDiv.appendChild(productElement);
                });
            });
    </script>
</body>
</html>