<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>첫페이지 | 프로젝트5720</title>
  <link rel="shortcut icon" href="#">

  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/common.css">
  <link rel="stylesheet" href="../resources/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          var params = new URLSearchParams(window.location.search);
          if (params.get('accountDeleted') === 'true') {
              alert("회원 탈퇴가 완료되었습니다.");
          }
      });
  </script>
</head>

<body>
  <!-- [S]butti-N1 -->
  <header class="butti-N1" data-bid="lYlZJm7d9G">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title">
          <a href="/main">
            <img th:src="@{/images/icon_remove.png}" alt="로고">
          </a>
        </h1>
      </div>
      <div class="header-center">
        <ul class="header-member">
          <li><a href="/login">로그인</a></li>
          <li>
              <form id="logoutForm" th:action="@{/logout}" method="post" style="display: inline;">
                  <a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">로그아웃</a>
                  <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
              </form>
          </li>
          <li><a href="/signup">회원가입</a></li>

          <li><a href="/edit">회원정보수정</a></li>
          
        </ul>

        <ul class="header-gnblist">
          <li class="header-gnbitem on">
            <a class="header-gnblink" href="http://192.168.0.2:3000/reservation">
              <span>예약하기</span>
            </a>
          </li>

          <li class="header-gnbitem on">
            <a class="header-gnblink" href="/cart">
              <span>구입하기</span>
            </a>
          </li>

          <li class="header-gnbitem on">
            <a class="header-gnblink" href="http://192.168.0.2:5000/recommend">
              <span>추천받기</span>
            </a>
          </li>

          <li class="header-gnbitem on">
            <a class="header-gnblink" href="http://192.168.0.2:5000/map">
              <span>빵지도</span>
            </a>
          </li>

          <li class="header-gnbitem on">
            <a class="header-gnblink" href="/edit">
              <span>회원정보수정</span>
            </a>
          </li>


          <li class="header-gnbitem on">
            <a class="header-gnblink" href="javascript:void(0);">
              <span>About Menu</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0);">
                  <span>메인 코스 소개</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0);">
                  <span>스테이크</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0);">
                  <span>파스타</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0);">
                  <span>디저트</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem on">
            <a class="header-gnblink" href="javascript:void(0);">
              <span>Event</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0);">
                  <span>레스토랑 이벤트</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem on">
            <a class="header-gnblink" href="javascript:void(0);">
              <span>Reservation</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0);">
                  <span>예약하기</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem on">
            <a class="header-gnblink" href="javascript:void(0);">
              <span>Community</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0);">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0);">
                  <span>이용문의</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0);">
                  <span>갤러리</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="header-right">
        <div class="header-utils">
          <a href="/login" class="btn-user header-utils-btn" th:if="${!isLoggedIn}">
              <img th:src="@{/images/person_off.png}" alt="유저 아이콘">
          </a>
          <a href="#" class="btn-user header-utils-btn" th:if="${isLoggedIn}" onclick="document.getElementById('logoutForm').submit(); return false;">
              <img th:src="@{/images/person_on.png}" alt="유저 아이콘">
          </a>
          <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
              <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
          </form>
          <a href="/delete-account" class="btn-user header-utils-btn" th:if="${isLoggedIn}">
              <img th:src="@{/images/person_delete.png}" alt="회원탈퇴">
          </a>
          <button class="btn-momenu header-utils-btn">
              <img th:src="@{/icons/ico_menu_white.svg}" alt="모바일 메뉴">
          </button>
          <button class="btn-moclose header-utils-btn">
              <img th:src="@{/icons/ico_close_white.svg}" alt="닫기">
          </button>
        </div>
      </div>
    </div>
    <div class="header-fullmenu fullmenu-right">
      <div class="fullmenu-wrapper">
        <div class="fullmenu-head">
          <h4 class="fullmenu-title">
            <a href="/main">
              <img src="../resources/images/img_logo_white.png" alt="로고">
            </a>
          </h4>
          <ul class="fullmenu-member">
            <li>
              <a href="javascript:void(0);">로그인</a>
            </li>
            <li>
              <a href="javascript:void(0);">회원가입</a>
            </li>
          </ul>
        </div>
        <ul class="fullmenu-gnblist">
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0);">
              <span>Brand Story</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0);">
                  <span>인사말</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0);">
                  <span>오시는길</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0);">
              <span>About Menu</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0);">
                  <span>메인 코스 소개</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0);">
                  <span>스테이크</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0);">
                  <span>파스타</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0);">
                  <span>디저트</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0);">
              <span>Event</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0);">
                  <span>레스토랑 이벤트</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0);">
              <span>Reservation</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0);">
                  <span>예약하기</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0);">
              <span>Community</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0);">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0);">
                  <span>이용문의</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0);">
                  <span>갤러리</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="fullmenu-close">
        <img src="../resources/icons/ico_close_white.svg" alt="닫기">
      </button>
    </div>
  </header>
  <!-- [E]butti-N1 -->
  <main class="th-layout-main ">
    <!-- [S]butti-N4 -->
    <div class="butti-N4" data-bid="oxlzJM7DCc">
      <div class="contents-container">
        <div class="contents-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="../resources/images/main_bread.jpg" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="../resources/images/main_bread.jpg" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">Bread Tour</h2>
                  <p class="textset-desc"> What is Lorem Ipsum?<br> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.. </p>
                </div>
                <a class="btnset btnset-lg btnset-line btnset-rect" href="javascript:void(0)">자세히 보기</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="../resources/images/main2_bread.jpg" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="../resources/images/main2_bread.jpg" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">Bread Tour</h2>
                  <p class="textset-desc"> What is Lorem Ipsum?<br> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.. </p>
                </div>
                <a class="btnset btnset-lg btnset-line btnset-rect" href="javascript:void(0)">자세히 보기</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="../resources/images/main3_bread.jpg" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="../resources/images/main3_bread.jpg" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">Bread Tour</h2>
                  <p class="textset-desc"> What is Lorem Ipsum?<br> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.. </p>
                </div>
                <a class="btnset btnset-lg btnset-line btnset-rect" href="javascript:void(0)">자세히 보기</a>
              </div>
            </div>
          </div>
          <div class="contents-control">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-pause">
              <img src="../resources/icons/ico_pause_white.svg" alt="스와이퍼 멈춤버튼">
            </div>
            <div class="swiper-button-play">
              <img src="../resources/icons/ico_play_white.svg" alt="스와이퍼 재생버튼">
            </div>
          </div>
        </div>
      </div>
      <div class="contents-bottom container-lg">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <!-- [E]butti-N4 -->

    <!-- [S]butti-N5 -->
    <div class="butti-N5" data-bid="RVLZjm7dMA">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="cardset-wrap">
            <div class="cardset cardset-xl cardset-hor row-rever">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../resources/images/img_butti_N5_01.png" alt="카드이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit"> 다국적 양식과 다채로운 메뉴를 <br> 마음껏 즐기세요. </h2>
                <p class="cardset-desc"> 디자인은 단순히 아름답게만 만드는 작업이 아니라, <br> 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다. </p>
                <a href="javascript:void(0);" class="btnset btnset-line btnset-rect btnset-black btnset-lg">자세히보기</a>
              </div>
            </div>
            <div class="cardset cardset-xl cardset-hor">
              <figure class="cardset-figure">
                <img class="cardset-img" src="../resources/images/img_butti_N5_02.png" alt="카드이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit"> 레스토랑만의 품격으로 <br> 새로운 식사 경험을 제공합니다. </h2>
                <p class="cardset-desc"> 자인은 단순히 아름답게만 만드는 작업이 아니라, <br> 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다. </p>
                <a href="javascript:void(0);" class="btnset btnset-line btnset-rect btnset-black btnset-lg">자세히보기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]butti-N5 -->
    <!-- [S]butti-N6 -->
    <div class="butti-N6" data-bid="kMLzJM7do9">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="videoset">
            <video class="videoset-video">
              <source src="../resources/videos/video.mp4">
            </video>
            <div class="videoset-body">
              <h2 class="videoset-tit"> 기분좋은 일상 속 미식 여행 <br> 더부티크 레스토랑 </h2>
              <button class="videoset-play">
                <img src="../resources/icons/ico_video_play.svg" alt="플레이버튼">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]butti-N6 -->
    <!-- [S]butti-N7 -->
    <div class="butti-N7" data-bid="OKLZJm7Dqs">
      <div class="contents-inner">
          <div class="contents-container container-md">
              <div class="textset">
                  <h2 class="textset-tit">Best Product</h2>
                  <p class="textset-desc">Fresh new bread for you</p>
              </div>
              <div class="contents-body">
                  <div class="contents-swiper">
                      <div class="swiper-wrapper" id="swiper-wrapper">
                          <!-- 슬라이드들이 여기에 동적으로 추가될 것입니다 -->
                      </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
              </div>
              <div class="contents-control">
                  <div class="swiper-pagination"></div>
              </div>
          </div>
      </div>
  </div>
    <!-- [E]butti-N7 -->
    <!-- [S]butti-N8 -->
    <div class="butti-N8" data-bid="aTLZJM7DT6">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="imageset">
            <img class="imageset-img img-pc" src="../resources/images/img_butti_N8_01.png" alt="PC 이미지">
            <img class="imageset-img img-mobile" src="../resources/images/img_butti_mobile_N8_01.png" alt="모바일 이미지">
          </div>
          <div class="textset">
            <h2 class="textset-tit"> 특별한 날을 기념하고 <br> 로맨틱한 식사를 즐기세요. </h2>
            <p class="textset-desc"> 레스토랑에서 새로운 추억을 쌓아보세요. <br> 다시 찾고 싶은 곳이 되도록 노력합니다. </p>
            <a href="javascript:void(0);" class="btnset btnset-rect btnset-line btnset-white btnset-lg">예약하러 가기</a>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]butti-N8 -->
    <!-- [S]butti-N9 -->
    <div class="butti-N9" data-bid="DULZjM7DW5">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">베스트 리뷰</h2>
            <p class="textset-desc">레스토랑 고객님의 리뷰를 만나보세요.</p>
            <div class="contents-control">
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
          <div class="contents-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="cardset cardset-border cardset-user">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../resources/images/img_profile_01.png" alt="프로필">
                  </figure>
                  <div class="cardset-profile">
                    <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                    <p class="cardset-info">더부티크 구매자</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="cardset cardset-border cardset-user">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../resources/images/img_profile_02.png" alt="프로필">
                  </figure>
                  <div class="cardset-profile">
                    <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                    <p class="cardset-info">더부티크 구매자</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="cardset cardset-border cardset-user">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../resources/images/img_profile_03.png" alt="프로필">
                  </figure>
                  <div class="cardset-profile">
                    <p class="cardset-text"> 템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요 </p>
                    <p class="cardset-info">더부티크 구매자</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]butti-N9 -->
  </main>
  <!-- [S]butti-N3 -->
  <footer class="butti-N3" data-bid="BCLZJM7e0A">
    <div class="footer-container">
      <img class="footer-backimg img-pc" src="../resources/images/img_footer.png" alt="PC 푸터 비주얼">
      <img class="footer-backimg img-mobile" src="../resources/images/img_footer_mobile.png" alt="모바일 푸터 비주얼">
      <div class="footer-body container-md">
        <h2 class="footer-logo">
          <a href="javascript:void(0)">
            <img src="../resources/images/img_logo_white.png" alt="로고">
          </a>
        </h2>
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>Bramd Story</span>
            </a>
            <ul class="footer-sublist">
              <li class="footer-subitem">
                <a href="javascript:void(0)">
                  <span>브랜드 스토리</span>
                </a>
              </li>
              <li class="footer-subitem">
                <a href="javascript:void(0)">
                  <span>오시는길</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>About Menu</span>
            </a>
            <ul class="footer-sublist">
              <li class="footer-subitem">
                <a href="javascript:void(0)">
                  <span>메인 코스 소개</span>
                </a>
              </li>
              <li class="footer-subitem">
                <a href="javascript:void(0)">
                  <span>스테이크</span>
                </a>
              </li>
              <li class="footer-subitem">
                <a href="javascript:void(0)">
                  <span>파스타</span>
                </a>
              </li>
              <li class="footer-subitem">
                <a href="javascript:void(0)">
                  <span>디저트</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>Event</span>
            </a>
            <ul class="footer-sublist">
              <li class="footer-subitem">
                <a href="javascript:void(0)">
                  <span>레스토랑 이벤트</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>Reservation</span>
            </a>
            <ul class="footer-sublist">
              <li class="footer-subitem">
                <a href="javascript:void(0)">
                  <span>예약하기</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>Community</span>
            </a>
            <ul class="footer-sublist">
              <li class="footer-subitem">
                <a href="javascript:void(0)">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="footer-subitem">
                <a href="javascript:void(0)">
                  <span>이용문의</span>
                </a>
              </li>
              <li class="footer-subitem">
                <a href="javascript:void(0)">
                  <span>갤러리</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_instagram_white.svg" alt="인스타그램">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_youtube_white.svg" alt="유튜브">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_facebook_white.svg" alt="페이스북">
            </a>
          </li>
        </ul>
        <ul class="footer-menugroup">
          <li class="footer-menulink">
            <a href="javascript:void(0)">
              <span>이용약관</span>
            </a>
          </li>
          <li class="footer-menulink">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menulink">
            <a href="javascript:void(0)">
              <span>푸터메뉴1</span>
            </a>
          </li>
          <li class="footer-menulink">
            <a href="javascript:void(0)">
              <span>푸터메뉴2</span>
            </a>
          </li>
        </ul>
        <div class="footer-txtgroup">
          <div class="footer-txt">
            <p> 서울시 금천구 벚꽃로36길 30 가산 KS타워 1409호 </p>
            <p>
              <span>T. 070-8872-8874</span>
              <span>E. help@openfield.co.kr</span>
            </p>
          </div>
          <div class="footer-txt">
            <p>2023 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>
    // Swiper 초기화 코드
    document.addEventListener('DOMContentLoaded', () => {
      const swiper = new Swiper('.contents-swiper', {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      });

      // 제품 데이터를 동적으로 추가
      const products = {
        1: [
            { name: '마들렌', price: 100, photo: '/img/madeleine.png', description: '부드럽고 촉촉한 마들렌', nutrition: '칼로리: 200kcal, 탄수화물: 20g, 단백질: 2g, 지방: 10g, 당류: 5g, 나트륨: 100mg, 콜레스테롤: 50mg' },
            { name: '휘낭시에', price: 2700, photo: '/img/financier.png', description: '고소한 버터향의 휘낭시에', nutrition: '칼로리: 250kcal, 탄수화물: 25g, 단백질: 3g, 지방: 12g, 당류: 8g, 나트륨: 120mg, 콜레스테롤: 60mg' },
            { name: '까눌레', price: 3000, photo: '/img/cannele.png', description: '겉은 바삭하고 속은 촉촉한 까눌레', nutrition: '칼로리: 220kcal, 탄수화물: 22g, 단백질: 3g, 지방: 11g, 당류: 7g, 나트륨: 110mg, 콜레스테롤: 55mg' },
            { name: '스콘', price: 2500, photo: '/img/scone.png', description: '부드러운 식감의 스콘', nutrition: '칼로리: 240kcal, 탄수화물: 24g, 단백질: 4g, 지방: 10g, 당류: 6g, 나트륨: 130mg, 콜레스테롤: 70mg' },
            { name: '파운드', price: 3000, photo: '/img/pound_cake.png', description: '진한 버터향이 느껴지는 파운드케이크', nutrition: '칼로리: 270kcal, 탄수화물: 28g, 단백질: 4g, 지방: 12g, 당류: 9g, 나트륨: 140mg, 콜레스테롤: 80mg' }
        ],
        2: [
            { name: '바게뜨', price: 3000, photo: '/img/baguette.png', description: '바삭한 껍질과 쫄깃한 속살의 바게트', nutrition: '칼로리: 180kcal, 탄수화물: 30g, 단백질: 6g, 지방: 2g, 당류: 1g, 나트륨: 400mg, 콜레스테롤: 0mg' },
            { name: '깜빠뉴', price: 3500, photo: '/img/campagne.png', description: '천연 발효종으로 만든 건강한 깜빠뉴', nutrition: '칼로리: 190kcal, 탄수화물: 32g, 단백질: 7g, 지방: 3g, 당류: 2g, 나트륨: 350mg, 콜레스테롤: 0mg' }
        ],
        3: [
            { name: '우유식빵', price: 4000, photo: '/img/milk_bread.png', description: '부드럽고 고소한 우유식빵', nutrition: '칼로리: 210kcal, 탄수화물: 35g, 단백질: 8g, 지방: 4g, 당류: 5g, 나트륨: 300mg, 콜레스테롤: 15mg' },
            { name: '곡물식빵', price: 4500, photo: '/img/grain_bread.png', description: '각종 곡물이 들어간 건강한 곡물식빵', nutrition: '칼로리: 220kcal, 탄수화물: 36g, 단백질: 9g, 지방: 5g, 당류: 4g, 나트륨: 320mg, 콜레스테롤: 10mg' },
            { name: '옥수수식빵', price: 4000, photo: '/img/corn_bread.png', description: '달콤한 옥수수향이 나는 옥수수식빵', nutrition: '칼로리: 230kcal, 탄수화물: 38g, 단백질: 7g, 지방: 6g, 당류: 6g, 나트륨: 310mg, 콜레스테롤: 12mg' }
        ],
        4: [
            { name: '생크림케이크', price: 15000, photo: '/img/cream_cake.png', description: '부드럽고 달콤한 생크림케이크', nutrition: '칼로리: 350kcal, 탄수화물: 40g, 단백질: 5g, 지방: 18g, 당류: 30g, 나트륨: 200mg, 콜레스테롤: 80mg' },
            { name: '초콜렛케이크', price: 18000, photo: '/img/chocolate_cake.png', description: '진한 초콜릿 맛의 초콜렛케이크', nutrition: '칼로리: 400kcal, 탄수화물: 45g, 단백질: 6g, 지방: 20g, 당류: 35g, 나트륨: 220mg, 콜레스테롤: 90mg' },
            { name: '치즈케이크', price: 20000, photo: '/img/cheese_cake.png', description: '부드럽고 촉촉한 치즈케이크', nutrition: '칼로리: 450kcal, 탄수화물: 38g, 단백질: 7g, 지방: 25g, 당류: 28g, 나트륨: 250mg, 콜레스테롤: 100mg' },
            { name: '고구마케이크', price: 17000, photo: '/img/sweetpotato_cake.png', description: '달콤한 고구마가 듬뿍 들어간 케이크', nutrition: '칼로리: 370kcal, 탄수화물: 42g, 단백질: 5g, 지방: 15g, 당류: 33g, 나트륨: 210mg, 콜레스테롤: 85mg' },
            { name: '티라미수', price: 22000, photo: '/img/tiramisu.png', description: '커피와 치즈의 조화가 일품인 티라미수', nutrition: '칼로리: 420kcal, 탄수화물: 39g, 단백질: 8g, 지방: 22g, 당류: 30g, 나트륨: 230mg, 콜레스테롤: 95mg' }
        ]
    };

      const swiperWrapper = document.getElementById('swiper-wrapper');
      products[1].forEach(product => {
        const slide = document.createElement('div');
        slide.classList.add('swiper-slide');
        slide.innerHTML = `
          <div class="contents-slide-group container-md">
            <div class="cardset cardset-overlap">
              <figure class="cardset-figure">
                <img class="cardset-img" src="${product.photo}" alt="이미지">
              </figure>
              <div class="cardset-body body-light body-bottom">
                <h5 class="cardset-tit">${product.name}</h5>
                <p class="cardset-desc">${product.description}</p>
              </div>
            </div>
          </div>
        `;
        swiperWrapper.appendChild(slide);
      });
    });
  </script>
    <!-- [E]butti-N3 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../resources/js/setting.js"></script>
    <script src="../resources/js/plugin.js"></script>
    <script src="../resources/js/template.js"></script>
    <script src="../resources/js/common.js"></script>
    <script src="/js/script.js"></script>
</body>