<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>메인 페이지 | Bread Tour</title>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- Header -->
  <header class="BT-N1">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title">
          <a href="/">
            <img src="/images/img_logo.png" alt="로고">
          </a>
        </h1>
      </div>
      <div class="header-center">
        <ul class="header-member">
          <li><a href="/login">로그인</a></li>
          <li><a href="/register">회원가입</a></li>
        </ul>
        <ul class="header-gnblist">
          <!-- Navigation Items -->
          <li class="header-gnbitem on">
            <a class="header-gnblink" href="#">
              <span>Brand Story</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem"><a class="header-sublink" href="#"><span>인사말</span></a></li>
              <li class="header-subitem"><a class="header-sublink" href="#"><span>오시는길</span></a></li>
            </ul>
          </li>
          <!-- Add other items similarly -->
        </ul>
      </div>
      <div class="header-right">
        <div class="header-utils">
          <a href="#" class="btn-user header-utils-btn">
            <img src="/icons/ico_user_white.svg" alt="유저 아이콘">
          </a>
          <button class="btn-allmenu header-utils-btn">
            <img src="/icons/ico_menu_white.svg" alt="PC 메뉴">
          </button>
          <button class="btn-momenu header-utils-btn">
            <img src="/icons/ico_menu_white.svg" alt="모바일 메뉴">
          </button>
          <button class="btn-moclose header-utils-btn">
            <img src="/icons/ico_close_white.svg" alt="닫기">
          </button>
        </div>
      </div>
    </div>
          <!-- Navigation Items -->
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="#">
              <span>Brand Story</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem"><a class="fullmenu-sublink" href="#"><span>인사말</span></a></li>
              <li class="fullmenu-subitem"><a class="fullmenu-sublink" href="#"><span>오시는길</span></a></li>
            </ul>
          </li>
          <!-- Add other items similarly -->
        </ul>
      </div>
      <button class="fullmenu-close">
        <img src="/icons/ico_close_white.svg" alt="닫기">
      </button>
    </div>
  </header>

  <!-- Main Content -->
  <main class="th-layout-main">
    <!-- Swiper Section -->
    <div class="BT-N4">
      <div class="contents-container">
        <div class="contents-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="contents-backimg img-pc" src="/images/img_main_01.jpg" alt="PC 메인 비주얼 이미지">
              <img class="contents-backimg img-mobile" src="/images/img_mainvisual_mobile_01.png" alt="모바일 메인 비주얼 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">BreadTour</h2>
                  <p class="textset-desc">BreadTour는 전국의 빵집으로 초대합니다. <br> 소중한 사람과 추억을 쌓아보세요.</p>
                </div>
                <a class="btnset btnset-lg btnset-line btnset-rect" href="#">자세히 보기</a>
              </div>
            </div>
            <!-- Add other slides similarly -->
          </div>
          <div class="contents-control">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-pause">
              <img src="/icons/ico_pause_white.svg" alt="스와이퍼 멈춤 버튼">
            </div>
            <div class="swiper-button-play">
              <img src="/icons/ico_play_white.svg" alt="스와이퍼 재생 버튼">
            </div>
          </div>
        </div>
      </div>
      <div class="contents-bottom container-lg">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <!-- Card Sets -->
    <div class="BT-N5">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="cardset-wrap">
            <div class="cardset cardset-xl cardset-hor row-rever">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/img_cardset_01.jpg" alt="카드 이미지">
              </figure>
              <div class="cardset-body">
                <h2 class="cardset-tit">다채로운 빵을 <br> 마음껏 즐기세요.</h2>
                <p class="cardset-desc">디자인은 단순히 아름답게만 만드는 작업이 아니라, <br> 사용자의 편의성을 고려해 아름다움을 불어넣어야 합니다.</p>
                <a href="#" class="btnset btnset-line btnset-rect btnset-lg">자세히 보기</a>
              </div>
            </div>
            <!-- Add other cardsets similarly -->
          </div>
        </div>
      </div>
    </div>

    <!-- Banners -->
    <div class="BT-N6">
      <div class="contents-container container-lg">
        <div class="contents-banner">
          <figure class="contents-banner-figure">
            <a href="#"><img class="contents-banner-img" src="/images/img_BT_N5_01.png" alt="배너 이미지"></a>
          </figure>
          <figure class="contents-banner-figure">
            <a href="#"><img class="contents-banner-img" src="/images/img_BT_N5_02.png" alt="배너 이미지"></a>
          </figure>
          <figure class="contents-banner-figure">
            <a href="#"><img class="contents-banner-img" src="/images/img_BT_N7_02.png" alt="배너 이미지"></a>
          </figure>
        </div>
      </div>
    </div>

    <!-- Testimonials -->
    <div class="BT-N7">
      <div class="contents-container container-lg">
        <div class="contents-testimonial">
          <div class="swiper-container swiper-testimonial">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="testimonial-icon">
                    <img src="/icons/ico_testimonial_01.svg" alt="아이콘">
                  </div>
                  <h3 class="testimonial-tit">우리의 고객들</h3>
                  <p class="testimonial-desc">고객들은 우리의 빵을 사랑하며, <br> 항상 최고의 품질을 경험하고 있습니다.</p>
                </div>
              </div>
              <!-- Add other testimonials similarly -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="BT-N8">
    <div class="footer-wrapper">
      <div class="footer-container container-lg">
        <ul class="footer-menu">
          <li><a href="#">BreadTour</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
        <div class="footer-copyright">
          <p>&copy; 2024 BreadTour. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript -->
  <script src="/js/main.js"></script>
  <!-- Add other scripts similarly -->

</body>
</html>