<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>Welcome | Bread Tour</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="background-image">
    <div class="welcome-text">
      <h1>Bread Tour</h1>
      <h5>Welcome</h5>
      <div class="nav-links">
        <a href="/login"><strong>SIGN IN</strong></a>
        <a href="/register"><strong>SIGN UP</strong></a>
        <a href="/guest"><strong>GUEST</strong></a>
      </div>
    </div>
  </div>
</body>
</html>
